{% extends 'base.twig' %}

{% block title %}درباره {{app_name}}{% endblock %}
{% block desc %}
    معرفی شرکت تولید در و پنجره UPVC {{app_name}}
{% endblock %}
{% block keywords %}
  پنجره UPVC، پنجره لمینت
{% endblock %}
{% block styles %}
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function (){
    });
</script>
{% endblock %}

{% block content %}
    <br/><br/><br/><br/>
    <div class="m-title">
        شرکت {{app_name}}
    </div>    
    <div style="width:100%; display: flex; flex-wrap: wrap; justify-content: center;margin-top:5px;text-align: justify;">
شرکت آذین ویستا در سال 1391 تاسیس شد و فعالیت خود را در زمینه تولید در و پنجره یو پی وی سی آغاز کرد.
 نمایندگی رسمی آذین ویستا در سال 1392 با کد 2442  اخذ شد و به ثبت رسید.
تولید در و پنجره یو پی وی سی، فعالیت تخصصی و اصلی این شرکت است که برای پاسخگویی به نیاز بازار در این زمینه می باشد که این امر با استفاده از توانایی های نیروی انسانی و دانش تکنیکی درون سازمانی میسر شده است.        
    </div>
{% endblock %}
