{% extends 'base.twig' %}

{% block title %}در و پنجره UPVC آذین ویستا{% endblock %}
{% block desc %}
    تولیدی در و پنجرهUPVC {{app_name}}، ارائه کننده انواع در و پنجره با پروفیل های UPVC سه محفظه ای، پنج محفظه ای، کشویی و لمینت. امکان خرید اینترنتی و آنلاین در و پنجره UPVC
{% endblock %}
{% block keywords %}
  پنجره UPVC، در UPVC، پروفیل سه محفظه ای، پروفیل پنج محفظه ای، پروفیل لمینت، فروشگاه اینترنتی پنجره، فروشگاه اینترنتی در UPVC
{% endblock %}
{% block styles %}
{% endblock %}
{% block scripts %}
<script src="js/galleria.min.js"></script>
<script src="js/galleria.azur.min.js"></script>
<script type="text/javascript">
    $(document).ready(function (){
        $('.topBar').css("background-color","#8c8c8c54");
        $(window).scroll(function(){
          var scroll = $(window).scrollTop();
          if (scroll >= 80)
              $('.topBar').addClass('topBarMoving');
          else
              $('.topBar').removeClass('topBarMoving');
        });    
        
        Galleria.loadTheme('galleria.azur.min.js');
        Galleria.run('.galleria');
    });
</script>
{% endblock %}

{% block slider %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="2800">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">

                <img class="d-block w-100" src="images/پنجره_UPVC_آذین_ویستا.jpg" alt="First slide">
                <div class="carousel-caption">
                    <span class="sliderTitle">کیفیتی ماندگار</span>
                </div>
            </div>
            <div class="carousel-item">

                <img class="d-block w-100" src="images/خرید_اینترنتی_پنجره_UPVC.jpg" alt="Second slide">
                <div class="carousel-caption">
                    <span class="sliderTitle">تجربه ای که آسان به دست نیامده</span>
                </div>
            </div>
           <div class="carousel-item">

                <img class="d-block w-100" src="images/در_و_پنجره_UPVC.jpg" alt="Second slide">
                <div class="carousel-caption">
                    <span class="sliderTitle">بعد از فروش هم در کنارتان هستیم</span>
                </div>
            </div>      
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
{% endblock %}

{% block content %}
<div class="row" style="margin-bottom: 25px;">
    <div class="col-6 col-sm-3">
        <div class="adItem">عایق رطوبت</div>
    </div>
    <div class="col-6 col-sm-3">
        <div class="adItem">صرفه اقتصادی</div>
    </div>
    <div class="col-6 col-sm-3">
        <div class="adItem">عایق صدا</div>
    </div>
    <div class="col-6 col-sm-3">
        <div class="adItem">عدم اشتعال</div>
    </div>
</div>
<div class="m-title">
    انواع پروفیل مورد استفاده 
</div>
<ul id="rig">
    <li>
        <a class="rig-cell" href="./پروفیل_پنجره_سه_محفظه_ای_UPVC">
            <img class="rig-img" src="images/products/پروفیل_پنجره_سه_محفظه_ای_UPVC.jpg" alt="پروفیل پنجره سه محفظه ای UPVC" title="پروفیل پنجره سه محفظه ای UPVC">
            <span class="rig-overlay"></span>
            <span class="rig-text">پروفیل سه محفظه ای</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="./پروفیل_پنجره_پنج_محفظه_ای_UPVC">
            <img class="rig-img" src="images/products/پروفیل_پنجره_پنج_محفظه_ای_UPVC.jpg" alt="پروفیل پنجره پنج محفظه ای UPVC" title="پروفیل پنجره پنج محفظه ای UPVC">
            <span class="rig-overlay"></span>
            <span class="rig-text">پروفیل پنج محفظه ای</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="./پروفیل_پنجره_کشویی_UPVC">
            <img class="rig-img" src="images/products/پروفیل_پنجره_کشویی_UPVC.jpg" alt="پروفیل پنجره کشویی UPVC" title="پروفیل پنجره کشویی UPVC">
            <span class="rig-overlay"></span>
            <span class="rig-text">پروفیل کشویی</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="./پنجره_لمینت_UPVC">
            <img class="rig-img" src="images/products/پنجره_لمینت_UPVC.jpg" alt="پروفیل پنجره لمینت UPVC" title="پروفیل پنجره لمینت UPVC">
            <span class="rig-overlay"></span>
            <span class="rig-text">لمینت</span>
        </a>
    </li>
</ul>

<div class="m-title">
    نمونه پروژه ها
</div>
<div class="row">
    <div class="col-12">
        <div class=" galleria">
            <a href="images/projects/1.jpg">
                <img src="images/projects/1.jpg"
                     data-big="images/projects/1.jpg"
                     data-description=""
                     data-title="">
            </a>
            <a href="images/projects/2.jpg">
                <img src="images/projects/2.jpg"
                     data-big="images/projects/2.jpg"
                     data-description=""
                     data-title="">
            </a>
            <a href="images/projects/3.jpg">
                <img src="images/projects/3.jpg"
                     data-big="images/projects/3.jpg"
                     data-description=""
                     data-title="">
            </a>
            <a href="images/projects/4.jpg">
                <img src="images/projects/4.jpg"
                     data-big="images/projects/4.jpg"
                     data-description=""
                     data-title="">
            </a>
            <a href="images/projects/5.jpg">
                <img src="images/projects/5.jpg"
                     data-big="images/projects/5.jpg"
                     data-description=""
                     data-title="">
            </a>
            <a href="images/projects/6.jpg">
                <img src="images/projects/6.jpg"
                     data-big="images/projects/6.jpg"
                     data-description=""
                     data-title="">
            </a>            
        </div>
    </div>
</div>
<div class="row" style="margin-top: 25px;margin-bottom: 50px;">
    <div class="col-6 col-sm-3">
        <div class="adItem">طراحی منعطف</div>
    </div>
    <div class="col-6 col-sm-3">
        <div class="adItem">مقاوم </div>
    </div>
    <div class="col-6 col-sm-3">
        <div class="adItem">عایق حرارت</div>
    </div>
    <div class="col-6 col-sm-3">
        <div class="adItem">عایق اشعه UV</div>
    </div>
</div>
{% endblock %}
