{% extends 'base.twig' %}

{% block title %}لمینت آذین ویستا{% endblock %}
{% block desc %}
    لمینت آذین ویستا برای تولید در و پنجره UPVC
{% endblock %}
{% block keywords %}
  لمینت، لمینیت، در و پنجره UPVC
{% endblock %}
{% block styles %}
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function (){
    });
</script>
{% endblock %}

{% block content %}
    <br/><br/>
<div class="m-title">
    لمینت، پروفیل با رنگ و طرح دلخواه شما
</div>
    <p class="productDesc">
شما علاوه بر طراحي فرم پنجره دلخواه خود بر طبق اصول ايمني و انرژي، امکان انتخاب پروفیل پنجره را با طرح های چوب یا رنگ های مختلف به صورت تک رو یا دو رو لمینیت دارا می باشید، تا بتوانيد رنگ پنجره را با نماي ساختمان خود تطبيق دهيد. ويستابست قادر خواهد بود اين امكان را براي شما فراهم نمايد.
یکی از دلایل مهمی که پروفیل های در و پنجره یو پی وی سی را متمایز می سازد این است که در آخر پنجره شما نیاز به رنگ آمیزی نخواهد داشت.

مواد اولیه مصرفی در تولید پروفیل های لمینیت ویستابست از بهترین تأمین کنندگان اروپایی و مختص شرایط آب و هوایی ایران تهیه گردیده است که باعث مقاومت بالای این محصول در گذر زمان می شود
</p>
<br/>
<img class="descImage" src="images/products/پنجره_لمینت_UPVC.jpg" alt="پروفیل پنجره لمینت UPVC" title="پروفیل پنجره لمینت UPVC">
{% endblock %}
