{% extends 'base.twig' %}

{% block title %}انواع پروفیلUPVC  در و پنجره آذین ویستا{% endblock %}
{% block desc %}
    پروفیل های پنجره UPVC شرکت {{app_name}}
{% endblock %}
{% block keywords %}
  پروفیل سه محفظه ای، پروفیل پنج محفظه ای، پروفیل کشویی، پروفیل لمینت، پنجره UPVC
{% endblock %}
{% block styles %}
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function (){
    });
</script>
{% endblock %}

{% block content %}
    <br/><br/>
<div class="m-title">
    انواع پروفیل مورد استفاده 
</div>
<ul id="rig">
    <li>
        <a class="rig-cell">
            <img class="rig-img" src="images/products/1.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">پروفیل سه محفظه ای</span>
        </a>
    </li>
    <li>
        <a class="rig-cell">
            <img class="rig-img" src="images/products/2.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">پروفیل پنج محفظه ای</span>
        </a>
    </li>
    <li>
        <a class="rig-cell">
            <img class="rig-img" src="images/products/3.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">پروفیل کشویی</span>
        </a>
    </li>
    <li>
        <a class="rig-cell">
            <img class="rig-img" src="images/products/4.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">لمینت</span>
        </a>
    </li>
</ul>
{% endblock %}
