{% extends 'base.twig' %}

{% block title %}پروفیل سه محفظه ای آذین ویستا{% endblock %}
{% block desc %}
    پروفیل سه محفظه ای آذین ویستا برای تولید در و پنجره UPVC
{% endblock %}
{% block keywords %}
  پروفیل سه محفظه ای، در و پنجره UPVC
{% endblock %}
{% block styles %}
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function (){
    });
</script>
{% endblock %}

{% block content %}
    <br/><br/>
<div class="m-title">
    سری پروفیل های سه محفظه ای
</div>
    <p class="productDesc">
ویستا بست تا کنون موفـق به ارائه 25  قالب پـروفیل در سـری سه محفظه ای با عرض 60 میلی مـتر گردیده است که توانایی سـاخت انواع در و پنجره های یو پی وی سـی را ایجاد می نماید.
این سری از پروفـیل ها طبق اسـتاندارد های رده اول این صنعت که از جمله آن رعایت ضـخامت 3 میلی متر برای دیـوارهای اصلی پروفیل می باشد؛ با رعایت سلایق لطیف و ظریف در معماری ایرانی طراحی و تولید گردیده است.
همچنین در این سری با توجه به وجود پروفیل های خاص بازسازی قابلیت تعویض پنجره های قدیمی را بدون تخریب، به راحتی امکان پذیر می کند.        
</p>
<br/>
<img class="descImage" src="images/products/پروفیل_پنجره_سه_محفظه_ای_UPVC.jpg" alt="پروفیل پنجره سه محفظه ای UPVC" title="پروفیل پنجره سه محفظه ای UPVC">
{% endblock %}
