{% extends 'base.twig' %}

{% block title %}پروفیل پنج محفظه ای آذین ویستا{% endblock %}
{% block desc %}
    پروفیل پنج محفظه ای آذین ویستا برای تولید در و پنجره UPVC
{% endblock %}
{% block keywords %}
  پروفیل پنج محفظه ای، در و پنجره UPVC
{% endblock %}
{% block styles %}
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function (){
    });
</script>
{% endblock %}

{% block content %}
    <br/><br/>
<div class="m-title">
    سری پروفیل های پنج محفظه ای
</div>
    <p class="productDesc">
ویستا بست ضمن بررسی نیاز بازار و در جهت پاسخگویی به کلیه شرایط جوی، اقــدام به تولیــد 14 پروفیــل در ســری پنج محفظه ای با عرض 70 میلی متر نموده است. که قابلیت ساخت انواع در و پنجره ها در این سری نیز وجود دارد.
این پروفیل ها با رعایت ضخامت 3 میلی متری دیواره های اصلی، عرض 70 میلی متر و داشتن پنج محفظه تأثیر قابل توجهی در جلوگیری از اتلاف انرژی داشته و برای شرایط آب و هوایی بسیار سخت، ایده آل می باشند.
همچنین با توجه به ابعاد و طراحی خاص، دارای استحکام و استواری بالاتری بوده که برای درها و پنجره هایی با ابعاد بزرگ یا به کار رفته در ساختمان های بلند مرتبه که فشار باد زیادی را تحمل می کنند، بسیار مناسب می باشند.
</p>
<br/>
<img class="descImage" src="images/products/پروفیل_پنجره_پنج_محفظه_ای_UPVC.jpg" alt="پروفیل پنجره پنج محفظه ای UPVC" title="پروفیل پنجره پنج محفظه ای UPVC">
{% endblock %}
