{% extends 'base.twig' %}

{% block title %}پیوست مدارک ترجمه رسمی{% endblock %}
{% block scripts %}
<script type="text/javascript">
    const cloudName = 'dr4eclxx1';
    const unsignedUploadPreset = 'rasoul';
    $(document).ready(function() {
        $(".circle").click(function (e){
            stepClicked(e);
        });
        createUploadFields();
    });
    function uploadClicked(e){
        var elem=$(e.target);
        if(elem.hasClass("imgPreview") || elem.hasClass("uploadTitle")){
            elem=elem.parent();
        }
        
        var input=elem.find("input")[0];
        if(input){
            input.click();
        }
        
    }
    function handleFiles(files,e){
          var preview= $(e.target).parent().find(".imgPreview")
          var prg= $(e.target).parent().find(".prg")
          for (var i = 0; i < files.length; i++) {
            uploadFile(files[i],preview,prg); // call the function to upload the file
          }
    }
    function uploadFile(file,preview,prg) {
      var url = `https://api.cloudinary.com/v1_1/${cloudName}/upload`;
      var xhr = new XMLHttpRequest();
      var fd = new FormData();
      xhr.open('POST', url, true);
      xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
      $(prg).css("width", "0");
      xhr.upload.addEventListener("progress", function(e) {
        var progress = Math.round((e.loaded * 100.0) / e.total);
        $(prg).css("width",progress + "%");
      });

      xhr.onreadystatechange = function(e) {
        if (xhr.readyState == 4 && xhr.status == 200) {
          var response = JSON.parse(xhr.responseText);
          var url = response.secure_url;
          var tokens = url.split('/');
          tokens.splice(-2, 0, 'w_768,c_scale');
          var url=tokens.join('/');
          $(preview).attr("src",url);
          $(prg).css("width","0");
          var index=$(preview).parent().data().index.split("_");
          setProductUrl(index[0],index[1],url);
        }
      };

      fd.append('upload_preset', unsignedUploadPreset);
      fd.append('tags', 'browser_upload'); // Optional - add tag for image admin in Cloudinary
      fd.append('file', file);
      xhr.send(fd);
    }
    function createUploadFields() {
        var products = getProducts();
        if (products.length === 0) {
            window.location = "انتخاب_مدارک_ترجمه_رسمی";
            return;
        }
        for (var i = 0; i < products.length; i++) {
            
            var pages = parseInt(products[i].pages);
            if (pages === 0) {
                var item = $("<div class='col-6 col-sm-3'></div>");
                var btn= getUploadButton(i+"_0","تصویر " + products[i].product.title,products[i],0);
                btn.click(function (e){
                    uploadClicked(e);
                });
                item.append(btn);
                $("#uploadContainer").append(item);
            }
            else {
                for (var j = 0; j < pages; j++) {
                    var item = $("<div class='col-6 col-sm-3'></div>");
                    var btn= getUploadButton(i+"_"+j,"تصویر صفحه " + (j + 1) + " " + products[i].product.title,products[i],j);
                    btn.click(function (e){
                        uploadClicked(e);
                    });
                    item.append(btn);
                    $("#uploadContainer").append(item);
                }
            }
        }

    }
    
    function getUploadButton(index,title,product,pageIndex){
        
        var item=$('<div></div>');
        item.addClass("uploadItem");
        item.data("index",index);
        
        var imgSrc="images/upload.png";
        var preview=$("<img></img>");
        if(product.uploads!==null && product.uploads!==undefined && product.uploads[pageIndex]!=null && product.uploads[pageIndex]!=null){
            imgSrc= product.uploads[pageIndex];
        }
        preview.attr("src",imgSrc);
        preview.addClass("imgPreview");
        
        var prg=$("<div></div>");
        prg.addClass("prg");
        
        var titleBar=$("<div></div>");
        titleBar.addClass("uploadTitle");
        titleBar.html(title);
        
        var input=$('<input type="file" multiple accept="image/*" style="display:none" onchange="handleFiles(this.files,event)">');
        
        item.append(input);
        item.append(prg);
        item.append(preview);
        item.append(titleBar);
        
        return item;
    }

</script>
{% endblock %}


{% block content %}
<div class="stepper">
    <div id="step1" class="circle done"> <span class="label">1</span>
        <span class="title">انتخاب مدارک</span>

    </div> <span class="bar done"></span>

    <div id="step2" class="circle active"> <span class="label">2</span>
        <span class="title"> پیوست مدارک</span>

    </div> <span class="bar active"></span>

    <div id="step3" class="circle"> <span class="label">3</span>
        <span class="title">تعیین آدرس</span>

    </div> <span class="bar"></span>

    <div id="step4" class="circle"> <span class="label">4</span>
        <span class="title">انتخاب دفتر ترجمه</span>

    </div> <span class="bar"></span>

    <div id="step5" class="circle"> <span class="label">5</span>
        <span class="title">صورتحساب</span>

    </div>
</div>


<div class="container">
    <div id="uploadContainer" class="row">

    </div>
</div>

<a href="تعیین_آدرس"> <div class="btn btn-primary topButton" style="margin-top:10px;">ادامه</div></a>
{% endblock %}
